#row1, #row2, #row3, #row4, #row5, #row6 {
		height: 80px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-left: 6px;
    margin-right: 6px;
}



.col1, .col2, .col3, .col4, .col5, .col6, .col7 {
		display: flex;
    width: 81px;
    height: 70px;
    margin: 10px;
    margin-top: 6px;
    /* background-color: blue; */
    /* border: 4px; */
    border-radius: 200px;

}

.board-container {
	/*display: flex;*/
	width: 50%;
	position: absolute;
	left: 25%;
	z-index: 4;
	/*background-color: blue;*/

}

.board-image {
	width: 683px;
	height: 480px;
	position: absolute;
	left: 25%;
	z-index: 3;
	/*display: none;*/
}

#winner-status {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    font-size: 120px;
    font-family: helvetica;
    font-weight: 900;
    background-color: white;
    opacity: .8;
}

#new-game-button {
	height: 84px;
  width: 220px;
  font-size: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #0088FF;
}